body {
    background: linear-gradient(90deg, #9968c3, #ddb1ef);    color: #ecf0f1;
    }
    .navbar {
      background-color: #806a93;
  }
  .navbar-brand {
   
      display: flex;
      align-items: center;
  }
  .navbar-brand .logo {
      height: 50px;
      margin-right: 10px;
  }
   .navbar-nav .nav-link, .navbar-brand {
      color: white;
  }
    .navbar-nav .nav-link:hover, .navbar-brand:hover {
      color: #ddd;
  }  
  .btn-custom {
     
    color: black;
  }  
  .btn-custom:hover {
    background-color: #9d75bf;
  }
    .table-responsive {
      font-weight: bold;
    }
    
    .table-responsive .row {
        background-color: #34495e;
        padding: 10px;
        border-bottom: 1px solid #7f8c8d;
      }
     
      .container{
        margin-top: 100px;
        margin-bottom: 150px;
      }
      .project-body .row {
        background-color: #2c3e50;
        padding: 10px;
        border-bottom: 1px solid #7f8c8d;
      }
    
    .project-body .row:nth-child(even) {
      background-color: #34495e;
    }
    
    .project-body .row a {
      color: #ecf0f1;
    }
    
    .project-body .row a:hover {
      text-decoration: underline;
    }
    .table-responsive{
        background-color: #2c3e50;
    }
    .modal-content {
      background-color: #34495e;
      color: #ecf0f1;
    }
    
    .modal-header {
      border-bottom: 1px solid #7f8c8d;
    }
    
    .btn{
      background-color: #806a93;
      border: none;
      color: #ddd;
       
  }
  
  .btn:hover {
      background-color: #7f8c8d;
  }
    .modal-footer {
      border-top: 1px solid #7f8c8d;
    }
    .footer {
        position: fixed; /* Change to fixed positioning */
        bottom: 0; /* Position at the bottom */
        width: 100%; /* Occupy full width */
        height:60px; /* Adjust height as needed */
        background-color: #806a93;
        color: white;
        text-align: center;
        line-height: 60px;
    }
    
  .text-info
  {
      color: #c3e8ef !important;
  } 
    