body {
    background: linear-gradient(90deg, #9968c3, #ddb1ef);
    color: white;
}

.navbar {
    background-color: #806a93;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand .logo {
    height: 50px;
    margin-right: 10px;
}

.navbar-nav .nav-link, .navbar-brand {
    color: white;
}

.navbar-nav .nav-link:hover, .navbar-brand:hover {
    color: #ddd;
}
.btn-custom {
   
    color: black;
}

.btn-custom:hover {
    background-color: #9d75bf;
}

.card {
    border-radius: 1rem;
    padding: 2rem;
    width: 100%;
    max-width: 500px;
    background-color: rgb(105, 82, 124);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: auto;
}

.card-body {
    color: white;
}

.form-control {
    border-radius: 50px;
    padding: 0.75rem 1.5rem;
    background-color: #34495e;
    border: none;
    color: white;
}

.form-control::placeholder {
    color: #bdc3c7;
}

.bt {
    border-radius: 50px;
    background-color: #fdd8e9;
    border: none;
    color: #34495e;
}

.bt:hover {
    background-color: #fde7c3;
}

a {
    color: #fde7c3;
}

a:hover {
    color: #34495e;
    text-decoration: none;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #806a93;
    color: white;
    text-align: center;
    line-height: 60px;
}
.text-info
{
    color: #c3e8ef !important;
} 
